.container__header {
    display: flex;
    text-align: center;
    height: 40px;
    width: 100%;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.container__header-logo {
    width: 60px;
    height: 40px;
    color: #475640;
}


.container__header-nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    width: 30%;
}

.container__header-nav-menu li {
    font-size: 20px;
}

