.container__main-2 {
    width: 75%;
    height: 620px;
}

.container-stadiums {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 20px;
    width: 95%;
    height: 100%;
    background: rgb(174, 255, 210);
}

.stadium-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    width: calc(24% - 20px);
    height: 40%;

    text-align: center;
    border-radius: 20px;

    background-color: #ffffff;
}

.stadium-box h2{
    width: 100%;
    height: 20%;
}

.stadium-box button {
    border-radius: 20px;
    width: 45%;
    height: 100%;

    color: #ffffff;
    background-color:  rgb(96, 180, 146);
}

.stadium-buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
    height: 15%;
}