.shoping__container {
    margin-top: 10px;
    display: flex;
    margin: auto;
    width: 70%;
    height: 120px;
    background-color: #ffffff;
}

.shoping__container-image {
    width: 20%;
    height: 100%;
    background-color: blue;
}

.shoping__container-name {
    width: 40%;
    height: 100%;
    align-items: center;
}

.shoping-item-name {
    margin-bottom: 30px !important; /**/
    text-align: center !important;
    color: #000000;
}

.shoping__container-menu {
    width: 20%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.shoping-item-button {
    width: 40px;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    border-width: 2px;
    font-size: 20px;
    background-color: #ffffff;
}

.shoping-item-count {
    width: 40px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}


.shoping__container-price {
    width: 20%;
    height: 100%;
    align-items: center;
}

.shoping-item-price {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
